@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    Sport Club is a small application that demonstrates how to manage with club memebers, sports, groups of sports and instructors.
    When creating members, it is possible to include it in a particular group for a particular sport, and if necessary, we can always make changes to the member's name, sport whose member and other data.
    When createing sport,  the required data are the name, price and date of creation of sports. Instructors can be added later.
    Every sport can be assigned to one or more instructor, and it is possible to view a list of instructors for selected sport.
    A group can be created for existing sports.
</div>
<p></p>
<div>
    This application is created using Entity Framework 6 in an ASP.NET MVC 5 web application.
</div>

