@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Preradoviceva 156<br />
    Petrovaradin<br />
    <abbr title="Phone">P:</abbr>
    021 223 455
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:SportClub@sportclub.com">SportClub@sportclub.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:jelena_buncic@yahoo.com">jelena_buncic@yahoo.com</a>
</address>